@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Pretendard, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  /* 스크롤바 비표시 */
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  font-family: Pretendard, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#root {
  width: 24.5625rem;
  height: 100svh;
  margin: 0 auto;
}
@media (max-width: 24rem) {
  #root {
    width: 100svw;
  }
}
input:focus {
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid #ababab;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 7px solid orange;
}

/* 증감 화살표 숨기기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox에서 화살표 숨기기 */
input[type="number"] {
  -moz-appearance: textfield;
}
