
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #000;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
input {
  outline: none;
  appearance: none;
  border-radius: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input[type="submit"] {
  cursor: pointer;
}
span {
  cursor: default;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
